<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <img ng-src="{{$ctrl.movie.Poster !== 'N/A' ? $ctrl.movie.Poster : 'http://placehold.it/280x390'}}" alt="{{$ctrl.movie.Title}}">
      <div class="btn-container">
        <button class="btn btn-default btn-favourite {{$ctrl.movie.isFavourite ? 'active' : ''}}" ng-click="$ctrl.toggleFavourite($event)" type="button">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="btn-favourite-text btn-favourite-text-add">Add to favourites</span>
          <span class="btn-favourite-text btn-favourite-text-remove">Remove from favourites</span>
        </button>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="page-header">
        <h1 class="text-left">
          {{$ctrl.movie.Title}} <small>{{ $ctrl.movie.Director !== 'N/A' ? 'directed by ' + $ctrl.movie.Director : ''}}</small>
        </h1>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{$ctrl.staticText.tableHeader}}</div>
        <table class="table">
          <tbody>
            <tr ng-repeat="(key, value) in $ctrl.tableDetails">
              <th scope="row">{{key}}</th>
              <td>{{value}}</td>
            </tr>
          </tbody>
        </table>
        <div class="panel-body">
          <p>{{$ctrl.movie.Plot}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
