<search-block currentview="$ctrl.currentView"></search-block>

<div class="container" ng-click="$ctrl.onFavouritesAddClick($event)">

  <div class="row text-center">
    <div ng-repeat="movie in $ctrl.moviesOnPage" class="movie-card col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail {{movie.isFavourite ? 'thumbnail-favourite' : ''}}" data-id="{{movie.imdbID}}">
        <a href="movie/{{movie.imdbID}}">
          <img ng-src="{{movie.Poster !== 'N/A' ? movie.Poster : 'http://placehold.it/280x390'}}" alt="{{movie.Title}}">
        </a>
        <div class="caption">
          <a href="movie/{{movie.imdbID}}">
            <h3>{{movie.Title}}</h3>
          </a>
          <span class="badge">{{movie.Year}}</span>
          <span class="badge">{{movie.Type}}</span>
          <button class="btn btn-default btn-favourite" type="button">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="btn-favourite-text btn-favourite-text-add">Add to favourites</span>
            <span class="btn-favourite-text btn-favourite-text-remove">Remove from favourites</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <nav class="text-center" aria-label="Page navigation">
    <ul class="pagination" ng-click="$ctrl.onPaginationClick($event)">
      <li ng-repeat="page in $ctrl.pagination" class="{{page.active ? 'active' : ''}}">
        <a href="{{page.link}}" data-id="{{page.number}}">{{page.name}}</a>
      </li>
    </ul>
  </nav>

</div>
